{% ckan_extends %}
{% block header_account_container_content %}
    <ul class="list-unstyled" style="float:left;">
        <li>
            <img class="gov-logo-image" src="/logo-gov.png" alt="{{ _('GOV Title') }}">
            <a class="gov-link" href="https://gov.md" target="_blank">
                {{ _('GOV Title') }}
            </a>
        </li>
    </ul>
    {# Insert the contents of the original header_wrapper_container block: #}
    {{ super() }}
{% endblock %}

{% block header_logo %} 
    <div>
        <a class="logo" href="{{ h.url_for('home.index') }}">
            <img src="/logo.png" alt="{{ _('Logo Title') }}" title="{{ _('Logo Title') }}" />
        </a>
	<h1 id="site-name">
           <a href="{{ h.url_for('home.index') }}">{{ _('Logo Title') }}</a>
        </h1>
    </div>
{%endblock %}
